<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.stf.page.model.dao.ReviewDao">


	<!-- 강사별 리뷰 조회 /review -->
	<select id="selectList" resultType="Teacher_review">
		SELECT *
		FROM Teacher_review
	</select>

	<!-- 강사별 리뷰 작성 /review -->
	<insert id="insertBoard" parameterType="Teacher_review"
		keyProperty="teacher_index">
		INSERT INTO Teacher_review(review_index, user_index, teacher_index, review_title, review_content, review_grade)
		VALUES (0, #{user_index}, #{teacher_index},  #{review_title}, #{review_content},  #{review_grade});
	</insert>

</mapper>
